@page "/"
@namespace SampleSite.Host
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using SampleSite.Components

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <!-- test for <mata name=... /> -->
    <meta name="meta-N0" content="value-N0-A" />
    <meta name="meta-N2" content="value-N2-A" />
    <meta name="meta-N3" content="value-N3-A" />

    <!-- test for <mata property=... /> -->
    <meta property="meta-P0" content="value-P0-A" />
    <meta property="meta-P2" content="value-P2-A" />
    <meta property="meta-P3" content="value-P3-A" />

    <!-- test for <mata http-equiv=... /> -->
    <meta http-equiv="meta-H0" content="value-H0-A" />
    <meta http-equiv="meta-H2" content="value-H2-A" />
    <meta http-equiv="meta-H3" content="value-H3-A" />

    <!-- test for <link rel=preload as=... /> -->
    <link rel="preload" href="_content/SampleSite.Components/css/red.png" as="image" media="(max-width: 600px)" imagesizes="32px" imagesrcset="red.png, 32px" /><!-- 'red.png max-width:600' will be removed at fetch-data. -->
    <link rel="preload" href="_content/SampleSite.Components/css/red.png" as="image" media="(min-width: 601px)" hreflang="en-US" /><!-- 'red.png min-width:601' will be removed at counter. -->
    <link rel="preload" href="_content/SampleSite.Components/css/orange.png" as="image" />
    <link rel="preload" href="_content/SampleSite.Components/css/custom-X.css" as="style" crossorigin="anonymous" /><!-- 'custom-X.css' will be removed at counter. -->

    <title>Sample Site</title>
    <base href="/" />
    <link rel="icon" href="/_content/SampleSite.Components/favicons/favicon.ico" />
    <link rel="stylesheet" href="_content/SampleSite.Components/css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="_content/SampleSite.Components/css/site.css" />
    <link rel="stylesheet" href="_content/SampleSite.Components/css/custom-A.css" title="custom" />
    <link rel="stylesheet" href="_content/SampleSite.Components/css/custom-X.css" /><!-- will be stayed. -->
    @*<script src="_content/Toolbelt.Blazor.HeadElement.Services/script.min.js"></script>*@
    <script src="_content/SampleSite.Components/helper.js"></script>
</head>

<body>
    <app>
        <div style="opacity:0;">
            <component type="typeof(App)" render-mode="Static" />
        </div>
        <div class="loading">Loading...</div>
        <link rel="stylesheet" href="data:text/css,.loading%7Bfont-family%3A'Franklin%20Gothic%20Medium'%2C'Arial%20Narrow'%2CArial%2Csans-serif%3Bcolor%3A%2388a%3Bfont-size%3A18px%3Btext-align%3Acenter%3Bwidth%3A150px%3Bheight%3A150px%3Bposition%3Afixed%3Btop%3A0%3Bbottom%3A0%3Bleft%3A0%3Bright%3A0%3Bmargin%3Aauto%7D.loading%3A%3Aafter%7Bcontent%3A''%3Bborder%3Asolid%2010px%3Bborder-color%3A%2388a%20%23eee%20%23eee%3Bborder-radius%3A60px%3Bposition%3Aabsolute%3Bwidth%3A60px%3Bheight%3A60px%3Btop%3A0%3Bbottom%3A0%3Bleft%3A0%3Bright%3A0%3Bmargin%3Aauto%3Banimation%3Arotation%201.5s%20linear%200s%20infinite%7D%40keyframes%20rotation%7B0%25%7Btransform%3Arotate(45deg)%7D100%25%7Btransform%3Arotate(405deg)%7D%7D" />
    </app>

    <div id="blazor-error-ui">
        An unhandled error has occurred.
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>
    <script src="_framework/blazor.webassembly.js"></script>
</body>

</html>
