@page "/counter"
@inject Toolbelt.Blazor.HeadElement.IHeadElementHelper HeadElementHelper
<Title>Counter(@currentCount)</Title>

<Link Rel="icon" Href="@($"/_content/SampleSite.Components/favicons/{GetFaviconName()}")" Type="image/png" />
<Link Rel="canonical" Href="http://localhost/counter" title="link-B" />

<Link Rel="preload" href="_content/SampleSite.Components/css/green.png" As="image" CrossOrigin="anonymous" /> @* Add new link *@
<Link rel="preload" Href="_content/SampleSite.Components/css/blue.png" as="image" media="(min-width: 301px)" ImageSizes="32px" imagesrcset="blue.png, 32px" /> @* Add new link with media *@

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private string Title => $"Counter({currentCount})";

    protected override async Task OnInitializedAsync()
    {
        await HeadElementHelper.SetMetaElementsAsync(
            ByName("meta-N1", "value-N1-B"),
            ByName("meta-N2", "value-N2-B"),
            ByProp("meta-P1", "value-P1-B"),
            ByProp("meta-P2", "value-P2-B"),
            ByHttpEquiv("meta-H1", "value-H1-B"),
            ByHttpEquiv("meta-H2", "value-H2-B"));
        await HeadElementHelper.RemoveMetaElementsAsync(
            ByName("meta-N3"),
            ByProp("meta-P3"),
            ByHttpEquiv("meta-H3"));
        await HeadElementHelper.RemoveLinkElementsAsync(
            new LinkElement(rel: "stylesheet", href: "_content/SampleSite.Components/css/custom-A.css"),
            new LinkElement(rel: "preload", href: "_content/SampleSite.Components/css/red.png", media: "(min-width: 601px)"),
            new LinkElement(rel: "preload", href: "_content/SampleSite.Components/css/custom-X.css"));
    }

    private void IncrementCount()
    {
        currentCount++;
    }

    private string GetFaviconName()
    {
        return currentCount > 9 ? "counter-9-plus.png" : $"counter-{currentCount}.png";
    }
}
