@page "/redirect"

<Meta HttpEquiv="refresh" Content="3;url=/" />
@*
    <!-- .NET5.0 Preview 8 -->
    <Meta http-equiv="refresh" Content="3;url=/" />
*@

<h1>Redirect to Home</h1>

<p>Redirect to Home after <b>@currentCount seconds</b>...</p>

@code {
    private int currentCount = 3;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            while (currentCount > 0)
            {
                await Task.Delay(1000);
                currentCount--;
                this.StateHasChanged();
            }
        }
    }
}