@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="content px-4">
        @Body
    </div>
</div>

<footer class="main-footer">
    <p>This is the demonstration site of "Blazor Head Element Helper".</p>
    <p>See also: <a target="_blank" href="https://www.nuget.org/packages/Toolbelt.Blazor.HeadElement/">https://www.nuget.org/packages/Toolbelt.Blazor.HeadElement/</a></p>
</footer>