<div class="top-row pl-4 navbar navbar-dark h-auto">
    <a class="navbar-brand" href="">Seattle Tourist Attractions</a>
    <div class="navbar-text">
        <div class="font-weight-bold">The demonstration of how to support SEO/OGP on Server-side Blazor app.</div>
        <div>See also: <a target="_blank" href="https://www.nuget.org/packages/Toolbelt.Blazor.HeadElement/">https://www.nuget.org/packages/Toolbelt.Blazor.HeadElement/</a></div>
    </div>
</div>
