@page "/"
@namespace SampleSite.Components
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <!-- test for <mata name=... /> -->
    <meta name="meta-N0" content="value-N0-A" />
    <meta name="meta-N2" content="value-N2-A" />
    <meta name="meta-N3" content="value-N3-A" />

    <!-- test for <mata property=... /> -->
    <meta property="meta-P0" content="value-P0-A" />
    <meta property="meta-P2" content="value-P2-A" />
    <meta property="meta-P3" content="value-P3-A" />

    <!-- test for <mata http-equiv=... /> -->
    <meta http-equiv="meta-H0" content="value-H0-A" />
    <meta http-equiv="meta-H2" content="value-H2-A" />
    <meta http-equiv="meta-H3" content="value-H3-A" />

    <title>Sample Site</title>
    <base href="/" />
    <link rel="icon" href="/_content/SampleSite.Components/favicons/favicon.ico" />
    <link rel="stylesheet" href="_content/SampleSite.Components/css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="_content/SampleSite.Components/css/site.css" />
    <link rel="stylesheet" href="_content/SampleSite.Components/css/custom-A.css" title="custom" />
    @*<script src="_content/Toolbelt.Blazor.HeadElement.Services/script.min.js"></script>*@
</head>

<body>
    <app>
        <component type="typeof(App)" render-mode="ServerPrerendered" />
    </app>

    <div id="blazor-error-ui">
        An unhandled error has occurred.
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>
    <script src="_framework/blazor.server.js"></script>
    <script src="_content/Microsoft.AspNetCore.Components.Web.Extensions/headManager.js"></script>
</body>

</html>
